
.toggle-dropdown-about-3t{
    position: relative;
}

.container{
    position: relative;
}
#navbarSupportedContent{
    margin-top: 30px;
    display: flex !important;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
.mySlides {
 
 opacity: 0;
 transition: opacity 1s ease-in-out;
}

.fade {
 opacity: 1;
}

 #section-menu-dropdown-branding{
    position: absolute;
    top: 85px;
   
    z-index: 100;
   
}

#section-menu-dropdown-marcom{
    position: absolute;
    top: 85px;
   
    z-index: 100;
   
}
#section-menu-dropdown-solution{
    position: absolute;
    top: 85px;
   
    z-index: 100;
   
}

#section-menu-dropdown-about-3t{
    position: absolute;
    top: 55px;
    left: 0px;
    z-index: 100;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 1px #00000050; 

}

#section-menu-dropdown-project{
    position: absolute;
    top: 55px;
    left: 0px;
    z-index: 100;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 1px #00000050; 

}

#section-menu-dropdown-resource{
    position: absolute;
    top: 55px;
    left: 0px;
    z-index: 100;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 1px #00000050; 

}
.nav-item .nav-item-active{
    color: #ff0000 !important;
}

.logo.img-main-logo{
    margin-top: 10px;
}

a#menu-drop-branding, 
a#menu-drop-marcom,
a#menu-drop-solution,
a#menu-drop-about-3t,
a#menu-drop-project,
a#menu-drop-resource, 
a#menu-drop-colab,
a#menu-drop-support{
    font-weight: 700;
    font-size: 15px;
}